@charset "utf-8";

.bo_top_img{position:absolute;top:0;left:0;width:100%;height:420px;overflow:hidden;text-align:center}
.bo_top_img img {position: absolute;top: 0;left: -9999px;right: -9999px;margin: auto;width:100%;height:auto; 
-webkit-filter: blur(3px);
-moz-filter: blur(3px);
-o-filter: blur(3px);
-ms-filter: blur(3px);
filter: blur(3px);}


 @media (max-width: 969px){
      .bo_top_img {height:200px}
 }
#bo_cate h2 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
#bo_cate {background:#fff;color:#333;border-bottom:1px solid #eee;
white-space: nowrap;overflow-x: auto;
-webkit-overflow-scrolling: touch
 -ms-overflow-style: -ms-autohiding-scrollbar;}
#bo_cate::-webkit-scrollbar {display: none;}
#bo_cate ul{margin:0 auto;max-width:1200px;padding:0 10px}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""} 
#bo_cate li{display:inline-block}
#bo_cate li a{display:block;padding:0 15px;line-height:55px;color:#333947}
#bo_cate #bo_cate_on{position:relative;font-weight:bold;color:#ea185f}
#bo_cate #bo_cate_on:before{width:100%;content:'';height:2px;background:#ea185f;position:absolute;bottom:0;left:0}


#faq_wrap {margin:10px auto;max-width:1200px;padding:20px}
#faq_wrap h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.faq_admin {margin:0 5px;text-align:right}
#faq_wrap p {line-height:1.8em}
#faq_wrap ol {margin:20px 0;border-top:1px solid #000;padding:0;list-style:none}
#faq_wrap  li{border-bottom:1px solid #eee}
#faq_con h3{position:relative;padding-left:30px;}
#faq_con h3 a {display:block;padding:15px;}
#faq_con .faq_alp{position:absolute;top:10px;left:0;display:inline-block;background:#333;border-radius:50%;width:30px;height:30px;line-height:30px;text-align:center;color:#fff}
#faq_con .faq_alp_a{background:#f3f3f3;color:#999}
#faq_con .con_inner {;position:relative;display:none;padding:10px;padding-left:40px;line-height:1.8em;border-top:1px solid #eee;}
#faq_con .con_closer {margin:10px 0 0;text-align:right}
#faq_con .closer_btn {margin:0;padding:0 5px;line-height:24px;border:0;background:#666;color:#fff}
.faq_tolist {padding:0 10px;text-align:right}
.faq_img {text-align:center}

#faq_sch {background: #f9fafa; border: 1px solid #ececec;padding:15px;position:relative}
#faq_sch .frm_input {width:100%}
#faq_sch .btn_submit{position:absolute;top:15px;right:15px;width:40px;height:40px;background:none;color:#000;font-size:16px}