@media screen and (max-width:1200px) {
	#tnb ul { width: 100%; }
	#hd_wrapper { width: 100%; margin: auto; height: 165px; border-bottom: 2px solid #253dbe; }

	#logo {width: calc(100% - 20px); margin-left: 10px; float:left;padding:10px 0 0; text-align: center; }
	#logo > span { display: block; float: left; cursor: pointer; font-size: 25px; }
	.hd_sch_wr{position:absolute;top:80px;left:10px;width:430px;margin-left:0px;  }
	#hd_qnb{float:right;margin-top:30px}
	#gnb { display: none; }

	#container_wr {width:100%; }
	#aside { position: fixed; left: -305px; top: 0px; margin: 0px; z-index: 1000; overflow-y: auto; }
	.close_menu { position: fixed; display: block; height: 0px; z-index: 1100; top: 0px; left: -30px }
	.close_menu > i { font-size: 40px; cursor: pointer; }
	.mobile_menu { display: block; }

	#container {width: calc(100% - 20px); margin:10px 10px;}

	#ft_wr {width:100%;}


	.mobile_menu { margin: 20px; }
	.mobile_menu > ul { background: #253dbe; padding-bottom: 15px;  }
	.mobile_menu > ul > li { 
		position: relative; width: 100%; padding: 15px 10px 0px 10px;

	}
	.mobile_menu > ul > li > i { position: absolute; right: 10px; color: #fff; font-size: 20px; cursor: pointer;}
	.mobile_menu > ul > li > ul { display: none; margin-top: 15px; background: #fff; padding-bottom: 10px; }
	.mobile_menu > ul > li > ul > li { width: 100%;  padding: 10px 15px 0px 10px;}
	.mobile_menu > ul > li > ul > li > a:hover { font-weight: 700; }

}

@media screen and (max-width:700px) {
	#tnb ul { width: 100%; }
	#hd_wrapper { height: 160px; }

	.hd_sch_wr{top:80px;width: calc(100% - 20px); z-index: 0; }
	#hd_qnb{ display: none; float:right;margin-top:30px}
	#hd_sch #sch_stx {width:calc(100% - 50px);}

}


@media screen and (max-width:600px) {
	.lt_wr{width:100% !important; margin-left: 0px !important; }
}

